.contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.card {
  width: 14rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-icon {
  width: 8rem;
  height: 8rem;
  fill: #2b8a3e;
}

.view-products {
  margin-top: 1rem;
  width: fit-content;
}

